<%= form_for @recipe, {:html => {:class => "form-horizontal"}} do |f| %>

  <!-- error msg about object validation-->
  <%= render 'shared/error_messages', object: @recipe %>

  <!-- bootstrap horizontal form -->
  <div class="new-form">

    <!-- category -->
    <div class="form-group">
      <%= f.label :category, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :category, class: "form-control" %>
      </div>
    </div>

    <!-- title -->
    <div class="form-group">
      <%= f.label :title, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :title, class: "form-control" %>
      </div>
    </div>

    <!-- ingredients -->
    <div class="form-group">
      <%= f.label :ingredients, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_area :ingredients, class: "form-control" %>
      </div>
    </div>

    <!-- direction -->
    <div class="form-group">
      <%= f.label :direction, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_area :direction, class: "form-control" %>
      </div>
    </div>

    <!-- url -->
    <div class="form-group">
      <%= f.label :url, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.url_field :url, class: "form-control" %>
      </div>
    </div>

    <!-- submit button -->
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit 'Save', class: 'btn btn-default' %>
      </div>
    </div>
    
  </div>

<% end %>
