<!-- flash msg from correct_user method in recipe controller -->
<%= render 'shared/flash_messages' %>


<h3>RECIPE</h3>

<div class="row recipes-wrap">

  <% @recipes.each do |recipe| %>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">

      <div class="recipe-box">

        <%= link_to(recipe) do %>

          <div class="image-wrap">
            <img src="<%= recipe.recipe_image %>", alt="You can add image at edit page.">
          </div>


          <div class="recipe-description">
            <div class="recipe-title"><%= recipe.title %></div>
            <div class="recipe-category"><%= recipe.category %></div>
          </div>

        <% end %>

      </div>

    </div>

  <% end %>

</div>
