<%= render 'shared/flash_messages' %>
<li><%= current_user.name %>, <%= current_user.email %></li>
<li><%= link_to "Edit info", edit_user_path(current_user) %></li>
<li><%= link_to "Delete account", user_path, method: :delete, data: { confirm: "You sure?" } %></li>
<li><%= link_to "Log out", logout_path, method: :delete %></li>
<li><%= link_to "Home", root_url, controller: 'welcome' %></li>
