<!-- <body> in layouts/application.html.erb -->
<header class="navbar navbar-fixed-top navbar-inverse">

  <div class="container">

    <%= link_to "Recipe app", root_path, id: "logo" %>

      <nav>

        <ul class="nav navbar-nav navbar-right">

          <!-- menu for logged in user -->
          <% if logged_in? %>

            <!-- dropdown account menu -->
            <li class="dropdown">

              <!-- account icon -->
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <b class="caret"></b>
              </a>

              <!-- dropdown items in account -->
              <ul class="dropdown-menu">

                <!-- profile icon -->
                <li>
                  <%= link_to current_user do %>
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    account
                  <% end %>
                </li>

                <!-- edit icon -->
                <li>
                  <%= link_to edit_user_path(current_user) do %>
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    edit
                  <% end %>
                </li>

                <!-- delete icon -->
                <li>
                  <%= link_to user_path(current_user), method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    delete
                  <% end %>
                </li>

                <!-- bootstrap divider -->
                <li class="divider"></li>

                <!-- log out icon -->
                <li>
                  <%= link_to logout_path, method: :delete do %>
                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                    log out
                  <% end %>
                </li>

              </ul>

            </li>

            <!-- dropdown recipe menu -->
            <li class="dropdown">

              <!-- recipe icon -->
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>
                <b class="caret"></b>
              </a>

              <!-- dropdown items in recipe -->
              <ul class="dropdown-menu">

                <!-- recipe list icon -->
                <li>
                  <%= link_to recipes_path do %>
                    <span class="glyphicon glyphicon-inbox" aria-hidden="true"></span>
                    recipe
                  <% end %>
                </li>

                <!-- recipe create icon -->
                <li>
                  <%= link_to new_recipe_path do %>
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    create
                  <% end %>
                </li>

              </ul>

            </li>

            <!-- dropdown food menu -->
            <li class="dropdown">

              <!-- food icon -->
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-apple" aria-hidden="true"></span>
                <b class="caret"></b>
              </a>

              <!-- dropdown items in food -->
              <ul class="dropdown-menu">

                <!-- food list icon -->
                <li>
                  <%= link_to foods_path do %>
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    food
                  <% end %>
                </li>

                <!-- food create icon -->
                <li>
                  <%= link_to new_food_path do %>
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    create
                  <% end %>
                </li>

              </ul>

            </li>

          <!-- menu for not logged in user -->
          <% else %>

            <!-- log in icon -->
            <li>
              <%= link_to login_path do %>
                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
              <% end %>
            </li>

            <!-- sign up icon -->
            <li>
              <%= link_to signup_path do %>
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
              <% end %>
            </li>

          <% end %>

        </ul>

    </nav>

  </div>

</header>
