<!-- flash msg from correct_user method in food controller -->
<%= render 'shared/flash_messages' %>

<!-- <body> in layouts/application.html.erb -->
<h3>FOOD</h3>

<div class="tabs">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" class="active"><a href="#everything" aria-controls="everything" role="tab" data-toggle="tab">Everything</a></li>
    <li role="presentation"><a href="#grain" aria-controls="grain" role="tab" data-toggle="tab">Grain</a></li>
    <li role="presentation"><a href="#meat" aria-controls="meat" role="tab" data-toggle="tab">Meat</a></li>
    <li role="presentation"><a href="#fat" aria-controls="fat" role="tab" data-toggle="tab">Fat</a></li>
    <li role="presentation"><a href="#vegetable" aria-controls="vegetable" role="tab" data-toggle="tab">Vegetable</a></li>
    <li role="presentation"><a href="#fruit" aria-controls="fruit" role="tab" data-toggle="tab">Fruit</a></li>
    <li role="presentation"><a href="#other" aria-controls="other" role="tab" data-toggle="tab">Other</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="everything">
      <%= render 'category', object: @foods_ordered_by_expiration, category: 'EVERYTHING' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="grain">
      <%= render 'category', object: @grain_ordered_by_expiration, category: 'GRAIN' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="meat">
      <%= render 'category', object: @meat_ordered_by_expiration, category: 'MEAT' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="fat">
      <%= render 'category', object: @fat_ordered_by_expiration, category: 'FAT' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="vegetable">
      <%= render 'category', object: @vegetable_ordered_by_expiration, category: 'VEGETABLE' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="fruit">
      <%= render 'category', object: @fruit_ordered_by_expiration, category: 'FRUIT' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="other">
      <%= render 'category', object: @other_ordered_by_expiration, category: 'OTHER' %>
    </div>
  </div>

</div>
