<!DOCTYPE html>
<html>

  <head>
    <title>recipeapp</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300|Raleway|Cormorant+SC:400,500,600|Lora:400,600|Montserrat:400,700i|Cinzel:400,700|Old+Standard+TT:700" rel="stylesheet">

  </head>

  <body>
    <%= render 'shared/header' %>
    <%= yield %>
  </body>

</html>
